.header {
    width: 100%;
    height: 73px;
    background-color: #020300;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    opacity: 80%;
}

.header .logo img{
    width: 333px;
    height: 41px;
    padding-left: 150px;
    display: flex;
    justify-content: flex-start;
}

.navbar {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
}

li {
    list-style-type: none;
}

a {
    color: #EFA608;
    text-decoration: none;
    cursor: pointer;
}